#div1 {
  background-color: coral;
  color: blanchedalmond;
}

.div2 {
  background-color: darksalmon;
  color: whitesmoke;
}

#div3 {
  background-color: burlywood;
  color: cornsilk;
}

span {
  background-color: blanchedalmond;
  color: brown;
}
