h1 {
  background-image: url(arc-en-ciel-1024x576.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
}

p {
  background-image: url(thumbsup.jpeg);
  background-position: 200px;
  background-size: 50px;
  background-repeat: repeat-x;
}
body {
  background-image: url(Les-plus-belles-plages-de-France.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}
